<head>
  <meta charset="UTF-8">
  <title>User Detail</title>
</head>
<body>

<div id="userDetail" class="user-detail" *ngIf="person">
  <h1>User Detail</h1>
          <p><strong>ID:</strong> {{ person.id }}</p>
          <p><strong>Name:</strong> {{ person.name }}</p>
          <p><strong>Date of Birth:</strong> {{ person.dob | date: 'dd/MM/yyyy'}}</p>
          <p><strong>Total Money:</strong> {{ person.totalMoney | currency: 'VND': 'symbol':'1.0-0'}}</p>
          <p><strong>Email:</strong> {{ person.email }}</p>
          <p><strong>Phone Number:</strong> {{ person.phoneNumber }}</p>
</div>


<a routerLink="/get-all-person" class="back-to-list">Back to List</a>
</body>

