<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>

<body>
  <div class="inner-from">
    <form id="changePasswordForm" (ngSubmit)="onClickChangePass()">
      <h1>Change Password</h1>
      <div class="inner-imput">
        <label for="userName">Username:</label>
        <input type="text" name="userName" [(ngModel)]="authRequest.userName" required>
      </div>
      <div class="inner-imput">
        <label for="userName">Current Password:</label>
        <input type="password" name="currentPassword" [(ngModel)]="authRequest.currentPassword" required>
      </div>

      <div class="inner-imput">
        <label for="password">New Password:</label>
        <input type="password" name="newPassword" [(ngModel)]="authRequest.newPassword" required>
      </div>
      <div class="inner-imput">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" [(ngModel)]="authRequest.confirmPassword" required>
      </div>
      <div>
        <button type="submit" class="inner-button">Change Password</button>
      </div>
      <a routerLink="">Back to login</a>
      <div id="message"></div>
    </form>
  </div>
</body>

