<head>
  <meta charset="UTF-8">
  <title>Add User - TMGDTD Finance</title>
</head>

<body>
  <div class="inner-from">
    <form class="form" (ngSubmit)="onClickAdd()" ngNativeValidate>
      <h1>Add Person</h1>
      <div class="inner-imput">
        <label for="name">Name: </label>
        <input type="text" name="name" [(ngModel)]="person.name" required><br>
      </div>
      <div class="inner-imput">
        <label for="dob">Date of Birth: </label>
        <input type="date" name="dob" [(ngModel)]="person.dob" required class="custom-date-input"><br>
      </div>
      <div class="inner-imput">
        <label for="email">Email: </label>
        <input type="email" name="email" [(ngModel)]="person.email" required maxlength="50"><br>
      </div>
      <div class="inner-imput">
        <label for="phoneNumber">Phone Number: </label>
        <input type="tel" name="phoneNumber" [(ngModel)]="person.phoneNumber" required pattern="0\d{9}"
          title="Số điện thoại phải bắt đầu bằng số 0 và có đúng 10 chữ số"><br>
      </div>
      <div>
        <button type="submit" class="inner-button">Add</button>
      </div>
      <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
      </div>
      <a routerLink="/home">Bach to home</a>
    </form>
  </div>
</body>

